{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 140,
  "singleAttributePerLine": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false
}